.tree(data-id=tree._id.toString(), class=treeHelper.getClass(tree.height), class=tree.isHealthy ? 'alive' : 'dead', class=tree.isChopped ? 'chopped' : 'notchopped')
  .height= tree.height
  .health= tree.isHealthy
  button#grow Grow
  button#chop Chop
